@import "./variable";

.form-container {
  width: 85%;
  background-color: $bgColor;
 
  margin-top: 3rem;
  margin-left: $mA;
  margin-right: $mA;
  color: $textColor;
//   padding-top: 3rem;
  @include basicFlex;

  & button:first-child {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
    border: none;
    position: absolute;
    width: 140px;
    height: 48px;
    background: $btnColor;
    border-radius: 60px;
  }

  .left-section {
    width: 40%;
  }

  .right-section {
    width: 40%;
    margin-top: 80px;
  
  }

  & h2 {
    font-size: $fSize;
  }
  & input {
    background-color: $inputBgColor;
    border: none;
    border-bottom: 1px solid grey;
    color: $textColor;
    outline: none;
  }
  select {
    background-color: $bgColor;
    border-color: inherit;
    width: 70%;
    color: $textColor;
    outline: none;
  }

  option {
    border-color: black;
  }
}

textarea {
  background-color: inherit;
  border: none;
  resize: none;
  border-bottom: 1px solid grey;
  width: 70%;
  outline: none;
  color: white;
}

label {
  color: gray;
  font-size: 0.7rem;
  width: 70%;
}

div label {
  text-align: left;
}

input {
  width: 70%;
}

.lab {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.checkbox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2rem;
    // width: 70%;
    margin-right: 5rem;
}

@media  (max-width: 720px)   {
    .form-container {
        flex-direction: column;
        .left-section {
            width: 90%;
        }
        .right-section {
            width: 90%;
        }
    }
}